// home page (index) header
.homeHeader {
    background: $yellow;
    height: 65vh;
    position: relative;
    
    .homeTitle {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

        h1 {
            position: absolute;
            top: 40%;
            left: 8rem;
        }

        .titleTag {
            object-fit: contain;
            width: 140px;
            position: absolute;
            top: 32%;
            left: 6rem;
        }
    }

    .headerContainer {
        position: absolute;
        right: 0;
        bottom: -50px;

        .headerImg {
            object-fit: contain;
            width: 400px;
            height: 560px;
            box-shadow: 15px 15px $white;

            img {
                height: 100%;
            }
        }
    }
}

