// home page (index) header
.homeHeader {
    background: $yellow;
    height: 65vh;
    position: relative;
    
    .homeTitle {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 100;

        h1 {
            position: absolute;
            top: 40%;
            left: 8rem;
        }

        .titleTag {
            object-fit: contain;
            width: 190px;
            position: absolute;
            top: 26%;
            left: 6rem;
        }
    }

    .headerContainer {
        position: absolute;
        right: 0;
        bottom: -50px;
        max-width: 1280px;
        margin: 0 6rem;

        .headerImg {
            object-fit: cover;
            height: 679px;
            width: 480px;
            box-shadow: 20px 20px $white;
        }
    }
}

