// home page section
.homeSectionOne, 
.homeSectionThree, .homeSectionFive 
{
    background-color: $lightGray;
}

.homeSectionThree {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .textBox {
        display: flex;
        width: 48%;
        max-width: 40vw;
        margin: 25px 0;

        .icon {
            background-color: $yellow;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }

    
    }
}

.homeSectionFour {
    background: url(../assets/home-image-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}