// home page section
.homeSectionOne, 
.homeSectionThree, .homeSectionFive 
{
    background-color: $lightGray;
}

main {
    section {
    display:flex;
    justify-content: center;
    }

    p {
        margin-bottom: 35px;
    }
    
}

.homeSectionThree {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .textBox {
        display: flex;
        width: 48%;
        max-width: 40vw;
        margin: 15px 0;

        .icon {
            background-color: $yellow;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            padding: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }
    }
}

.homeSectionFour {
    background: url(../assets/home-image-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.homeSectionFive {
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .imgContainer {
        width: 25%;
        box-shadow: 20px 20px $yellow;

    }

    .textContainer {
        width: 65%;
    }
}

.homeSectionSix {

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 50px;

        li {
            width: 33%;
            
            img:focus,img:hover {
                opacity: 0.7;
            }
        }
    }
}