@media (max-width: 1000px) {
    // base styles
    h1 {
        font-size: 3.2rem;
        line-height: 58px;
    }
    h2 {
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.2rem;
        }
    p {
        font-size: 0.8rem;
        line-height: 26px;
    }
    .btn {
        font-size: 0.9rem;
        line-height: 28px;
    }
}
