@media (max-width: 1000px) {
    // base styles
    h1 {
        font-size: 3.2rem;
        line-height: 58px;
    }
    h2 {
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.2rem;
        }
    p {
        font-size: 0.8rem;
        line-height: 26px;
    }
    .btn {
        font-size: 0.9rem;
        line-height: 28px;
    }
    .wrapper {
        margin: 0 2rem;
        padding: 80px 0;
    }

    //header 
    .homeHeader {
        height: 70vh;

        .homeTitle {
            h1 {
                top: 20%;
                left: 2.8rem;
                font-size: 6rem;
            }

            .titleTag {
            width: 140px;
            top: 11%;
            left: 1.8rem;
            }
        }

        .headerContainer {
            margin: 0 2rem;
            bottom: -25px;

            .headerImg {
                height: 50vh;
                width: 50vw;
            }
        }
    }

    .otherHeader,
    .blogHeader {
        height: 30vh;

        .wrapper h1 {
            bottom: -30px;
        }
    }

    //main section styling


    //contact
    .contactSection {
        
        .wrapper {
            flex-direction: column-reverse;
            flex-wrap: wrap;

            .leftContainer {
                width: 100%;

                .smIcons {
                    justify-content: center;

                    li {
                        margin: 0 15px;

                        i {
                            font-size: 2rem;
                        }
                    }
                }

                h5, p {
                    text-align: center;
                }
            }

            .rightContainer {
                width: 100%;
            }
        }
    }

    // blog section
    .blogSection {

        .wrapper {
            flex-direction: column-reverse;
            gap: 50px;

            .leftContainer {
                width: 100%;

                .profileInfo {
                    display: flex;
                    padding: 30px;
                    gap: 20px;

                    .profileImgContainer {
                        margin-bottom: 0;
                        width: 40%;
                        height: 240px;
                    }
                }

                .morePosts {
                    h4, a, li {
                        text-align: center;
                    }
                }
            }

            .rightContainer {
                width: 100%;

                
            }
        }
    }
}
