@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

html {
  font-size: 125%;
  letter-spacing: 1px;
}

h1 {
  font-family: "Lora", serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  line-height: 92px;
  margin: 0;
}

h2, h3, h4, h5, button, a, li {
  font-family: "Roboto", san-serif;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

p {
  font-family: "Roboto", san-serif;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0;
  line-height: 30px;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  max-width: 1280px;
  margin: 0 6rem;
  padding: 100px 0;
}

.btn {
  color: #2c2c2c;
  font-size: 1rem;
  line-height: 32px;
  background-color: #05afc1;
  padding: 12px 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn:hover, .btn:focus {
  color: #f0efed;
  background-color: #285e64;
}

nav {
  background-color: #f6a823;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 300;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul .currentPage {
  color: white;
}
nav ul li {
  margin: 0 20px;
  line-height: 29px;
  letter-spacing: 1px;
}
nav ul li a {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
nav ul li .logo {
  font-family: "lora", serif;
  font-size: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
nav ul li a:hover,
nav ul li a:focus {
  color: white;
}
nav ul :nth-child(1) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
nav ul :nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
nav ul :nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
nav ul :nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
nav ul :nth-child(5) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
nav .hamNav {
  display: none;
}

.homeHeader {
  background: #f6a823;
  height: 65vh;
  position: relative;
}
.homeHeader .homeTitle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
}
.homeHeader .homeTitle h1 {
  position: absolute;
  top: 40%;
  left: 8rem;
  font-size: 8rem;
}
.homeHeader .homeTitle .titleTag {
  -o-object-fit: contain;
     object-fit: contain;
  width: 190px;
  position: absolute;
  top: 26%;
  left: 6rem;
}
.homeHeader .headerContainer {
  position: absolute;
  right: 0;
  bottom: -50px;
  max-width: 1280px;
  margin: 0 6rem;
}
.homeHeader .headerContainer .headerImg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 679px;
  width: 480px;
  -webkit-box-shadow: 20px 20px white;
          box-shadow: 20px 20px white;
}

.otherHeader {
  background-image: url(../assets/contact-image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
}
.otherHeader .wrapper {
  position: relative;
  height: 100%;
}
.otherHeader .wrapper h1 {
  position: absolute;
  left: 0;
  bottom: -40px;
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: center;
  height: 40vh;
}
.blogHeader .wrapper {
  position: relative;
  height: 100%;
}
.blogHeader .wrapper h1 {
  position: absolute;
  left: 0;
  bottom: -40px;
}

.homeSectionOne,
.homeSectionThree, .homeSectionFive {
  background-color: #f0efed;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main section p {
  margin-bottom: 35px;
}

form input,
form textarea {
  border: none;
}
form .firstLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}
form .firstLine input {
  width: 50%;
  padding: 25px 15px;
}
form .firstLine input:-moz-placeholder-shown {
  font-style: italic;
  color: #4f4f4f;
}
form .firstLine input:-ms-input-placeholder {
  font-style: italic;
  color: #4f4f4f;
}
form .firstLine input:placeholder-shown {
  font-style: italic;
  color: #4f4f4f;
}
form textarea {
  width: 100%;
  padding: 25px 15px;
}
form input:-moz-placeholder-shown, form textarea:-moz-placeholder-shown {
  font-style: italic;
  color: #4f4f4f;
}
form input:-ms-input-placeholder, form textarea:-ms-input-placeholder {
  font-style: italic;
  color: #4f4f4f;
}
form input:placeholder-shown,
form textarea:placeholder-shown {
  font-style: italic;
  color: #4f4f4f;
}

.submitBtn {
  color: #2c2c2c;
  font-size: 1rem;
  line-height: 32px;
  background-color: #05afc1;
  padding: 8px 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 20px 0;
}

.submitBtn:hover,
.submitBtn:focus {
  color: #f0efed;
  background-color: #285e64;
}

.homeSectionOne {
  padding-bottom: 30px;
}

.homeSectionTwo {
  position: relative;
}
.homeSectionTwo p {
  font-size: 0.9rem;
}
.homeSectionTwo .shadowContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.homeSectionTwo .shadowContainer .rust1 {
  position: absolute;
  background-color: #a82706;
  height: 42vh;
  top: -16px;
  left: 0;
  width: 53.6%;
}
.homeSectionTwo .shadowContainer .rust2 {
  position: absolute;
  background-color: #f6a823;
  height: 43vh;
  bottom: -66px;
  right: 0;
  width: 51.5%;
}
.homeSectionTwo .wrapper {
  width: 100%;
}
.homeSectionTwo .wrapper .quadrant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 80px;
  position: relative;
  height: 30vh;
}
.homeSectionTwo .wrapper .quadrant .textContainer {
  width: 40%;
}
.homeSectionTwo .wrapper .quadrant .imgContainer {
  width: 53%;
  position: absolute;
  z-index: 10;
}
.homeSectionTwo .wrapper .quadOne {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 80px;
}
.homeSectionTwo .wrapper .quadOne .imgContainer {
  height: 42vh;
  bottom: 0;
  left: -1px;
}
.homeSectionTwo .wrapper .quadOne .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.homeSectionTwo .wrapper .quadOne .textContainer .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.homeSectionTwo .wrapper .quadTwo .imgContainer {
  height: 43vh;
  right: -1px;
}
.homeSectionTwo .wrapper .quadTwo .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.homeSectionTwo .wrapper .quadTwo .textContainer h3, .homeSectionTwo .wrapper .quadTwo .textContainer p {
  text-align: right;
}
.homeSectionTwo .wrapper .quadTwo .textContainer .btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.homeSectionThree .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.homeSectionThree .textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  max-width: 40vw;
  margin: 15px 0;
}
.homeSectionThree .textBox .icon {
  background-color: #f6a823;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.homeSectionFour {
  background: url(../assets/home-image-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}

.homeSectionFive .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.homeSectionFive .wrapper .imgContainer {
  width: 25%;
  -webkit-box-shadow: 20px 20px #f6a823;
          box-shadow: 20px 20px #f6a823;
}
.homeSectionFive .wrapper .textContainer {
  width: 65%;
}

.homeSectionSix ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 50px;
}
.homeSectionSix ul li {
  width: 30%;
}
.homeSectionSix ul li img:focus, .homeSectionSix ul li img:hover {
  opacity: 0.7;
}

.contactSection {
  background-color: #f0efed;
}
.contactSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 50px;
}
.contactSection .wrapper .leftContainer {
  background-color: white;
  padding: 35px;
  width: 33%;
  min-width: 360px;
  height: 310px;
}
.contactSection .wrapper .leftContainer .smIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.contactSection .wrapper .leftContainer .smIcons i {
  font-size: 1.5rem;
  color: #f6a823;
}
.contactSection .wrapper .leftContainer .smIcons i:hover, .contactSection .wrapper .leftContainer .smIcons i:focus {
  color: #4f4f4f;
}
.contactSection .wrapper .leftContainer h5 {
  margin-bottom: 15px;
  text-transform: lowercase;
  font-size: 1.2rem;
}
.contactSection .wrapper .leftContainer p {
  margin-bottom: 0;
  letter-spacing: 0;
}
.contactSection .wrapper .rightContainer {
  width: 70%;
}

.constructionSection {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogSection {
  background-color: #f0efed;
}
.blogSection p {
  margin-bottom: 15px;
}
.blogSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.blogSection .wrapper .leftContainer {
  width: 33%;
}
.blogSection .wrapper .leftContainer .profileInfo,
.blogSection .wrapper .leftContainer .morePosts {
  background-color: white;
  padding: 40px;
  margin-bottom: 20px;
}
.blogSection .wrapper .leftContainer .profileInfo .profileImgContainer {
  margin-bottom: 25px;
}
.blogSection .wrapper .leftContainer .profileInfo .spanLink {
  text-transform: none;
  color: #285e64;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blogSection .wrapper .leftContainer .profileInfo .spanLink:hover,
.blogSection .wrapper .leftContainer .profileInfo .spanLink:focus {
  color: #05afc1;
}
.blogSection .wrapper .leftContainer .morePosts li:before {
  content: "∙";
  color: #f6a823;
  display: inline-block;
  width: 1rem;
}
.blogSection .wrapper .leftContainer .morePosts a {
  text-transform: none;
  font-weight: 400;
  line-height: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.blogSection .wrapper .leftContainer .morePosts a:hover,
.blogSection .wrapper .leftContainer .morePosts a:focus {
  text-decoration: underline;
  font-weight: 700;
}
.blogSection .wrapper .leftContainer h4 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}
.blogSection .wrapper .rightContainer {
  width: 70%;
}
.blogSection .wrapper .rightContainer .spanLink,
.blogSection .wrapper .rightContainer .commentTitle {
  color: #285e64;
  font-weight: 700;
  text-transform: none;
  font-style: italic;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blogSection .wrapper .rightContainer .spanLink:hover,
.blogSection .wrapper .rightContainer .spanLink:focus {
  color: #05afc1;
}
.blogSection .wrapper .rightContainer .postContainer,
.blogSection .wrapper .rightContainer .firstComment,
.blogSection .wrapper .rightContainer .secondComment {
  background-color: white;
  padding: 40px 60px 40px 40px;
  margin-bottom: 20px;
  border-bottom: 5px solid #f6a823;
}
.blogSection .wrapper .rightContainer .firstComment,
.blogSection .wrapper .rightContainer .secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.blogSection .wrapper .rightContainer .firstComment .comImgContainer,
.blogSection .wrapper .rightContainer .secondComment .comImgContainer {
  height: 120px;
  min-width: 120px;
}

footer {
  background-color: #4f4f4f;
  padding: 12px 0;
}
footer p {
  text-align: center;
  color: white;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3.2rem;
    line-height: 58px;
  }
  h2 {
    font-size: 1.9rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 26px;
  }
  .btn {
    font-size: 0.9rem;
    line-height: 28px;
  }
  .wrapper {
    margin: 0 2rem;
    padding: 60px 0;
  }
  .homeHeader {
    height: 70vh;
  }
  .homeHeader .homeTitle h1 {
    top: 20%;
    left: 2.8rem;
    font-size: 6rem;
  }
  .homeHeader .homeTitle .titleTag {
    width: 140px;
    top: 11%;
    left: 1.8rem;
  }
  .homeHeader .headerContainer {
    margin: 0 2rem;
    bottom: -25px;
  }
  .homeHeader .headerContainer .headerImg {
    height: 50vh;
    width: 50vw;
  }
  .otherHeader,
.blogHeader {
    height: 30vh;
  }
  .otherHeader .wrapper h1,
.blogHeader .wrapper h1 {
    bottom: -30px;
  }
  .homeSectionTwo .shadowContainer {
    display: none;
  }
  .homeSectionTwo .wrapper .quadrant {
    gap: 40px;
    height: 25vh;
  }
  .homeSectionTwo .wrapper .quadrant .textContainer {
    width: 60%;
  }
  .homeSectionTwo .wrapper .quadrant .imgContainer {
    width: 35%;
    height: 100%;
    position: relative;
  }
  .homeSectionTwo .wrapper .quadOne {
    margin-bottom: 60px;
  }
  .homeSectionTwo .wrapper .quadOne .imgContainer {
    -webkit-box-shadow: -15px 15px #a82706;
            box-shadow: -15px 15px #a82706;
  }
  .homeSectionTwo .wrapper .quadTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .homeSectionTwo .wrapper .quadTwo .imgContainer {
    -webkit-box-shadow: 15px 15px #f6a823;
            box-shadow: 15px 15px #f6a823;
  }
  .homeSectionThree .textBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 48vw;
  }
  .homeSectionThree .textBox .icon {
    margin-bottom: 10px;
    width: 32px;
    height: 32px;
  }
  .homeSectionThree .textBox .icon i {
    font-size: 1.2rem;
  }
  .homeSectionThree .textBox .text {
    text-align: center;
  }
  .homeSectionThree .textBox .text h3 {
    margin-bottom: 12px;
  }
  .homeSectionFour {
    height: 35vh;
  }
  .homeSectionFive .imgContainer {
    width: 30%;
    -webkit-box-shadow: 15px 15px #f6a823;
            box-shadow: 15px 15px #f6a823;
  }
  .homeSectionSix ul {
    gap: 20px;
  }
  .homeSectionSix ul li {
    width: 33%;
  }
  .contactSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contactSection .wrapper .leftContainer {
    width: 100%;
  }
  .contactSection .wrapper .leftContainer .smIcons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactSection .wrapper .leftContainer .smIcons li {
    margin: 0 15px;
  }
  .contactSection .wrapper .leftContainer .smIcons li i {
    font-size: 2rem;
  }
  .contactSection .wrapper .leftContainer h5, .contactSection .wrapper .leftContainer p {
    text-align: center;
  }
  .contactSection .wrapper .rightContainer {
    width: 100%;
  }
  .blogSection .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px;
  }
  .blogSection .wrapper .leftContainer {
    width: 100%;
  }
  .blogSection .wrapper .leftContainer .profileInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 30px;
    gap: 20px;
  }
  .blogSection .wrapper .leftContainer .profileInfo .profileImgContainer {
    margin-bottom: 0;
    width: 40%;
    height: 240px;
  }
  .blogSection .wrapper .leftContainer .morePosts h4, .blogSection .wrapper .leftContainer .morePosts a, .blogSection .wrapper .leftContainer .morePosts li {
    text-align: center;
  }
  .blogSection .wrapper .rightContainer {
    width: 100%;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2.8rem;
    line-height: 50px;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3, h4, h5 {
    font-size: 1.1rem;
  }
  .btn {
    padding: 10px 16px;
  }
  .wrapper {
    margin: 0 1.2rem;
  }
  form .firstLine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
  }
  form .firstLine input {
    width: 100%;
  }
  form textarea {
    height: 35vh;
  }
  nav {
    padding: 12px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav * {
    border: 0.5px solid red;
  }
  nav ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav ul :nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  nav ul :nth-child(2),
nav ul :nth-child(3),
nav ul :nth-child(4),
nav ul :nth-child(5) {
    display: none;
  }
  nav .navBar {
    margin-right: 20px;
  }
  nav .navBar .navContainer .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  nav .navBar .navContainer .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .navBar .navContainer .hamburger-lines .line {
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 10px;
    background: #2c2c2c;
  }
  nav .navBar .navContainer .hamburger-lines .line1 {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  nav .navBar .navContainer .hamburger-lines .line2 {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  }
  nav .navBar .navContainer .hamburger-lines .line3 {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  nav .navBar .navContainer input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  nav .navBar .navContainer input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  nav .navBar .navContainer input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  nav .navBar .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .navBar .menu ul :nth-child(2),
nav .navBar .menu ul :nth-child(3),
nav .navBar .menu ul :nth-child(4),
nav .navBar .menu ul :nth-child(5) {
    display: block;
  }
  .homeHeader {
    height: 80vh;
  }
  .homeHeader .homeTitle h1 {
    font-size: 4.4rem;
    top: 38%;
    left: 3rem;
  }
  .homeHeader .homeTitle .titleTag {
    width: 110px;
    top: 32%;
    left: 2rem;
  }
  .homeHeader .headerContainer .headerImg {
    width: 65vw;
    -webkit-box-shadow: 15px 15px white;
            box-shadow: 15px 15px white;
  }
  .blogHeader {
    background-position: -420px center;
  }
  .construction {
    font-size: 2.4rem;
  }
  .homeSectionOne {
    text-align: center;
    padding-top: 10px;
  }
  .homeSectionTwo .wrapper .quadrant {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeSectionTwo .wrapper .quadrant .textContainer {
    width: 100%;
  }
  .homeSectionTwo .wrapper .quadrant .textContainer .btn {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .homeSectionTwo .wrapper .quadrant .textContainer h3, .homeSectionTwo .wrapper .quadrant .textContainer p {
    text-align: center;
  }
  .homeSectionTwo .wrapper .quadrant .imgContainer {
    width: 100%;
  }
  .homeSectionThree .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .homeSectionThree .wrapper .textBox {
    width: 100%;
    max-width: 100vw;
  }
  .homeSectionThree .wrapper .textBox .icon {
    margin-right: 0;
    width: 70px;
    height: 70px;
    text-align: center;
  }
  .homeSectionThree .wrapper .textBox .icon i {
    font-size: 1.5rem;
  }
  .homeSectionFour {
    height: 36vh;
  }
  .homeSectionFive .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homeSectionFive .wrapper .imgContainer {
    width: 78%;
    margin-bottom: 40px;
  }
  .homeSectionFive .wrapper .textContainer {
    width: 100%;
    text-align: center;
  }
  .homeSectionSix ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homeSectionSix ul li {
    width: 100%;
  }
  .constructionSection {
    text-align: center;
  }
  .blogSection .wrapper .leftContainer .profileInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .blogSection .wrapper .leftContainer .profileInfo .profileImgContainer {
    width: 100%;
    height: 350px;
  }
  .blogSection .wrapper .rightContainer .postContainer,
.blogSection .wrapper .rightContainer .firstComment,
.blogSection .wrapper .rightContainer .secondComment {
    padding: 20px;
  }
  .blogSection .wrapper .firstComment,
.blogSection .wrapper .secondComment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 12px;
  }
  .blogSection .wrapper .firstComment .comImgContainer,
.blogSection .wrapper .secondComment .comImgContainer {
    width: 120px;
  }
}